
/* Ecom */

/* Navbar */

.main-login{
  margin: 40px auto;
}
.main-login form{
  width: 40%;
  padding: 10px;
  min-width: 350px;
  margin:0 auto;
}
.align-left ul{
  margin: 0 !important;
  float: right !important;
}
.align-left ul li{
  float: right !important;
}

.main-signup{

  margin: 40px auto;
  width: 60%;
}
.products{
margin: 0 auto;
width: 90%;
min-width: 350px;
max-width: 90%;
}
.pcard{
  margin: 10px auto ;
}
.cbody{
  padding: 8px; 
}
.product-img{
  text-align: center;
  height: 200px;
  padding: 15px;
}
.product-img img{
  max-height: 190px;
}
.cbody p{
  width: 98%;
    height: 28px;
    overflow: hidden;
  margin: 0;
}
.cbody h5{
  width: 98%;
    height: 28px;
    overflow: hidden;
  margin: 0;
}

.nav-ul li{
display: inline;

}
.product-type{
  width: 80%;
  margin: 0 auto;
  height: auto;
}
.product-cat-card{
  margin: 10px auto;

}
.product-type-link:hover{
text-decoration: none;
}

.ad-form{
  margin: 10px auto;
  width: 50%;
  min-width: 350px;
  border: 2px solid black;
}
fieldset { 
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 10px;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove;
}
img{
  max-width: 100%;
}

/* ad-details */
.ad-details-main{
  
  width:98%;
  margin:  20px auto;
}
.ad-details-main div{
  padding:15px;
}
.p-img .c-img{
  text-align: center;
}
.p-img{
  margin: 0 1%;
  width: 98%;
  text-align: center;
  height: auto;
  /* max-height: 500px; */
  border:1px solid gray;
  padding: 5px;
}
.p-details{
  margin: 10px 1%;
  width: 98%;
  border:1px solid gray;
  padding: 5px;
  overflow: hidden;
}
.p-details span{
  width: 50%;
  margin: 0 0;
  float: left;
  overflow: hidden;
}
.p-details span p{
  width: 50%;
  margin: 0 0;
  float: left;
  overflow: hidden;
} 
.product-price{
  text-align: left;
  margin: 0 0 8px 0;
  width: 100%;
  border: 1px solid gray;
}
.product-price h4{
  overflow: hidden;
}
.seller-desc{
  margin: 0 0 8px 0;
  /* font-size: 20px; */
  text-align: center;
  width: 100%;
  border: 1px solid gray;  
}
.d-profile-pic img{
  border-radius: 50px;
  width: 60px;
  height: 60px;
  margin: 10px 0 10px 10px;  

}
.profile-name{
  display: inline-block;
  margin: 0 5px;
}
.d-telephone{
  display:block;
  width:90%;
  padding: 10px 0;
  margin:10px auto;
  text-align: center;
  color: white;
 }
 .d-telephone:hover{
  text-decoration:none;
  display:block;
  width:90%;
  padding: 10px 0;
  margin:10px auto;
  text-align: center;
  color: white;
 }
.seller-desc h4{
  font-size: 20px;
  font-weight: bolder;
  margin: 5px 10px;
}
.product-price h4{
  font-size: 30px;
  font-weight: bolder;
  margin: 5px 10px;
}
.product-title {
  color: gray;
  font-size: 18px;
  font-weight: 500;
  width: 90%;
  overflow: hidden;
  margin: 5px 10px;
}

.product-price span p{
display: inline-block;

}
.P-Location{
  color: gray;

  width: 180px;
  margin: 10px 0 10px 10px;  
  float: left;

}
.ad-date{
  color: gray;

  margin: 10px 0 10px 10px;
  font-size: 15px;
}
.msg-posted{
  position: absolute;
    top: 75%;
    left: 55%;
    width: 300px;
    height: 200px;
    margin-top: -150px;
    margin-left: -200px;
    border:2px solid gray;
    border-radius:10px; 
    display: none;
    z-index: 99;

}
.btn-123{
  margin: 37px 36%;
}
.Profile{
  margin: 20px auto;
  border: 1px solid gray;
}
.Profile-Content{
  width: 400px;
  margin: 10px auto; 
}
.profile-image{
  width: 150px;
  height: 150px;
  margin: 0 auto;
  

}
.profile-image img{
  width: 150px;
  height: 150px;
  border:1px solid gray;
  border-radius:50%;
}
.Profile-Content h5{
  text-align: center;
  margin: 15px auto;
}
.btn-div button{
  margin: 5px 40.124%;

}
.btn-div2 button{
  margin: 5px 33%;

}
.btn-div1 button{
  margin: 5px 37%;

}


.card-btn-div{
  padding: 0 auto;
}
.btn1{
  margin: 2% 14%;
}
.nbar{
  width:100%;
  margin:0;
}

.pedit label{
margin: 0 10px;  
}



.main-profile-update{

  margin: 40px auto;
  width: 50%;
  min-width: 350px;
  border: 1px solid gray; 
  padding: 15px;
  border-radius: 10px;
}
/* .main-profile-update-container{ */
  /* border: 1px solid gray; */
/* } */
/* Profile Page */

.captions{
  /* bottom: 99px; */
  background: rgba(0,0,0,0.4);
}
.captions h1{
  /* color:teal; */
  font-size: 60pt;
  font-weight: 900;
  bottom: 40px;
}
.captions p{
  /* color:teal;Profile */
  font-size: 30pt;
  font-weight: 900;
  bottom: 40px;
}
a.navbar-brand {
  color: #fff;
    font-size: 35px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    line-height: 34px;
}
.nav-bar.bg-dark {
  padding: 20px 0;
}
.sign-links ul{
  padding: 0;
  margin: 0;
  list-style: none;
text-align: right;
}
.sign-links li{
  display: inline-block;
}
.sign-links li a{
  color: #fff;
}
.sign-links li a:hover{
  color: #3434f3;
}
a:hover{
  text-decoration:none;
}
.filter-ddown{
  width:430px;
}

.filter-ddown select{
  margin:5px 2.5px;
}
.img-upload-progress{
  display: none;
  height: 50px;
  background-color: #343a40;
  font-size:22px;
}
.nav-form input{
margin: 5px;
}
.msg{
  display: none;
  color:red;
  font-weight: bold;
}
.form-inline input{
  margin: 5px 0;
}


.dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
 border:  1px solid gray;
 }
 .form-inline.filter-ddown.container-fluid {
  margin: 0;
}
label.text-light {
  padding: 7px;
}
h5.navbar-brand {
  padding: 5px 14px;
}
.footer{
padding: 20px;  
}
.products.row {
  min-height: 269px;
}
.footer-inner{
  margin: 0 auto;
  text-align: center;
}
.footer-inner i{
  padding: 5px;
}
.logout{
  padding: 6px;
}
.logout:hover{
  color:blue !important;
  cursor: pointer;

}

ad form input#price{
  width: 100%
}




/* Media Queries */
/* Extar small */
@media (min-width: 350px ) { 
  .captions{
    bottom: 150px;
    background: rgba(0,0,0,0.4);
  }
  .captions h1{
    /* color:teal; */
    font-size: 40pt;
    font-weight: 900;
    bottom: 40px;
  }
  .captions p{
    /* color:teal;Profile */
    font-size: 20pt;
    font-weight: 900;
    bottom: 40px;
  }
  .product-form{
    width: 80%;
    margin: 40px auto;
  }
  .main-profile-update{

    margin: 40px auto;
    width: 70%;
  }
  .sign-links ul{
    padding: 0;
    margin: 0;
    list-style: none;
  text-align: left;
  }
  
  .ad-form{
    border: 2px solid #000;
    margin: 10px auto;
    width: 80%;
    
  }
  .main-login form {
    width: 80%;
    margin: 0 auto;
}
label.text-light {
  width: 100%;
}
input#price {
  width: 100%;
}
input.form-control.mr-sm-1 {
  width: 100%;
}
}
/* Small */

@media (min-width: 576px ) { 
.product-form{
  width: 60%;
  margin: 40px auto;
}
.main-profile-update{

  margin: 40px auto;
  width: 60%;
}
.ad-form{
  margin: 10px auto;
  width: 70%;
  border: 2px solid black;
}
.main-login form {
  width: 60%;
  margin: 0 auto;
}
.filter-ddown {
  width: 100%;
}
label.text-light {
  width: 20%;
}
input#price {
  width: 30%;
}
input.form-control.mr-sm-1 {
  width: 30%;
}

 }
/* medium */
@media (min-width: 768px) { 
  .product-form{
    width: 50%;
    margin: 40px auto;
  }
  .ad-form{
    margin: 10px auto;
    width: 55%;
    border: 2px solid black;
  }
  
  .main-login form {
    width: 50%;
    margin: 0 auto;
  }
 }
@media (min-width: 992px) { 
  .nav-ul{
    margin: 0 0 0 80px;

  }
  .ad-form{
    margin: 10px auto;
    width: 50%;
    border: 2px solid black;
  }
  /* sign up */
  .product-form
  .main-signup{

    margin: 40px auto;
    width: 45%;
  }
  .main-profile-update{

    margin: 40px auto;
    width: 45%;
  }
  .main-login form {
    width: 40%;
    margin: 0 auto;
  }
  .filter-ddown {
    width: 50%;
}
label.text-light {
  width: 20%;
}
input#price {
  width: 30%;
}
input.form-control.mr-sm-1 {
  width: 30%;
}

}
@media (min-width: 1200px) { 
  .nav-ul{
    margin: 0 0 0 170px;
  }
  /* Post Product Form */
  .product-form{
    width: 40%;
    margin: 40px auto;
  }

  .main-signup {

    margin: 40px auto;
    width: 45%;
  }
  .ad-form{
    margin: 15px auto;
    width: 40%;
    border: 2px solid black;
    
  }
}